@model Tienda2.Models.Movimiento

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Quieres borra esto?</h3>
<div>
    <h4>Movimiento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gasto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gasto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ingreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ingreso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detalle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valorunitario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valorunitario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valortotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valortotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCliente.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
